@media (max-width: 1260px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  .search-container {
    border: 0;
    border-bottom: 2px solid var(--secondary-color);
    align-items: center;
  }

  .search__image {
    width: 276px;
    height: 246px;
    margin-bottom: 24px;
  }

  .result-container {
    margin: 32px 0px;
  }

  .result__error-text {
    font-size: 2rem;
  }

  .result__error-image {
    width: 276px;
    height: 246px;
  }

  .social-medias-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-content: center;
    gap: 12px;
  }

  .songsphere__navigation-container {
    display: none;
  }

  #menu {
    display: block;
    font-size: 3rem;
  }
}

@media (max-width: 750px) {
  body {
    grid-template-rows: 96px auto auto;
  }

  .songsphere__title-container {
    display: none;
  }

  footer {
    padding: 24px 12px;
    display: grid;
    grid-template-areas:
      "copyright"
      "informations"
      "social";
    grid-template-rows: auto auto auto;
    justify-content: center;
    gap: 24px;
  }

  .informations-container {
    grid-area: informations;
    align-items: center;
  }

  .copyright__text {
    grid-area: copyright;
    text-align: center;
  }

  .social-medias-container {
    grid-area: social;
    display: flex;
    justify-content: center;
    gap: 12px;
  }
}

@media (max-width: 520px) {
  #menu {
    font-size: 2rem;
  }

  .search__title {
    font-size: 1.5rem;
  }

  .search__title::before {
    padding-left: 8px;
  }

  .search__input {
    width: 232px;
    height: 38px;
  }

  .search__input::placeholder {
    font-size: 1rem;
  }

  .search__image {
    width: 156px;
    height: 156px;
  }

  .result__error-text {
    font-size: 1.5rem;
    text-align: center;
    padding: 0px 12px;
  }

  .result__error-image {
    width: 156px;
    height: 156px;
  }
}
