html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  color: var(--primary-color);
  background-color: var(--background-color);
  height: 100vh;
  display: grid;
  grid-template-rows: 96px auto 136px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 0px 32px;
}

.songsphere__title-container {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
}

.songsphere__title-container > i {
  font-size: 1.5rem;
}

.title__text {
  font-size: 3rem;
  font-weight: normal;
}

.navigations {
  display: flex;
  gap: 18px;
  font-size: 1.5rem;
}

main {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-container {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.search__title {
  font-size: 2.25rem;
  font-weight: normal;
}

.search__title::before {
  content: "";
  border-left: 3px solid var(--secondary-color);
  padding-left: 16px;
}

.search__input {
  width: 428px;
  height: 52px;
  background-color: var(--secondary-color);
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  color: var(--primary-color);
  padding-left: 12px;
}

.search__input::placeholder {
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  color: var(--primary-color);
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  padding: 0px 32px;
}

.informations-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.information {
  display: flex;
  gap: 24px;
  user-select: none;
}

.copyright__text {
  display: flex;
  align-items: center;
  user-select: none;
  font-size: 1.25rem;
}

.social-medias-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: 1px solid var(--primary-color);
}

.social-media:hover {
  background-color: #bcc2e56e;
  transition: all 0.5s;
}

.social-media > i {
  font-size: 1.375rem;
  color: var(--primary-color);
  line-height: 0;
}
