.musics-container {
  padding: 32px 0px;
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 600px;
  overflow-y: scroll;
}

.music-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 372px;
  min-height: 92px;
  background-color: var(--secondary-color);
  border-radius: 4px;
}

.music-container > i {
  font-size: 1.5rem;
}

.music__text {
  text-align: center;
  font-size: 1.5rem;
  max-width: 75%;
}
