.search__input {
  width: 428px;
  height: 52px;
  background-color: var(--secondary-color);
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  color: var(--primary-color);
  padding-left: 12px;
}

.search__input::placeholder {
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  color: var(--primary-color);
}
