.albums-container {
  padding: 32px 0px;
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}

.album-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 372px;
  height: 92px;
  background-color: var(--secondary-color);
  border-radius: 4px;
}

.album-container > i {
  font-size: 1.5rem;
}

.album__text {
  font-size: 1.5rem;
}
